@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}

.top-padding {
    padding-top: 50px;
}

.content {
    margin-bottom: 210px;
    color: white;}

.vid-headers {
    font-family: 'Roboto' !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #0e1111;
    opacity: 1;
    padding: 0.4rem 0 0.8rem ;
}

.hero-text {
    font-size: 24px;
}

footer {
    position: fixed;
    background-color: lightgrey;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 8px;
    font-size: medium;
}


.featurette-divider{
    padding: 20px;
}

nav {
    background-color: lightgray;
}

.nav-spacing{
    margin-top: 90px;
}

.clown-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.clown-modal-content {
    width: 500px;
    background-color: #fff;
}

.circus-clown-modal-content {
    width: 800px;
    background-color: #fff;
}

.clown-modal-header, .clown-modal-footer {
    padding: 10px;
}

.clown-modal-title {
    margin: 0;
}

.clown-modal-body {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.meal-columns {
    height: 230px;
    width: 100px;
}

.date-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 90px;
    width: 100%;
    color: #EAEAEA;
    background-color: #264653;
    box-sizing: border-box;
}

.date-header {
    text-decoration: underline;
}

.mealplan-container {
    margin: 0px 100px 100px;
}

.mealplan-card {
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.mealplan-card-detail {
    color: white;
}
