body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table-container {
  max-height: 65vh; 
  overflow-y: auto; 
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #f1f1f1; 
  z-index: 1; 
}

.card-container2 {
  max-height: 100vh; 
  overflow-y: auto; 
}

.recipe-card-overflow {
  max-height: 100vh; 
  overflow-y: auto; 
}

.card-container1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 1px;
}

.recipe-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
}