@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

.main {
    width: 100%;
    height: 100vh;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: black;
  }

  .overlay {
    top: 55px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.6);
  }


* {
  font-family: 'Montserrat', sans-serif;
  }
